<template>
  <div id="app">
   <div slot="header">
        <h1>PRACTICA FINAL DE NODE JS</h1>
      </div>
    <vs-alert title="OBJETIVO" color="rgb(231, 154, 23)" active="true">
        <span>Objetivo: Poner en practica un API REST con NODEJS en BackEnd</span>
    </vs-alert>
    <br>
    <template lang="html">
    
    <div class="centerx default-input">
     <vs-input class="inputx" placeholder="Usuario" v-model="formLogin.usuario"/>
     <br>
     <vs-input class="inputx" placeholder="Contraseña" v-model="formLogin.contrasena"/>
     <br>
   </div>
   <br>
   <vs-button color="primary" type="filled" @click="ingresar">Ingresar</vs-button>
   <div class="alert alert-danger" role="alert" v-if="error">
     {{ error_mensaje }}
   </div>
</template>

  </div>
</template>

<script>

import axios from 'axios'
//import qs from 'qs'

export default {
  name: 'App',
  data() {
    return {
      urlBackend: 'http://localhost:3000',
      error: false,
      error_mensaje: "",
      formLogin: {
        usuario: "",
        contrasena: ""
      }
    }
  },
  mounted () {
    axios.interceptors.response.use(response => response, (error) => {
      if ([400, 401, 403].includes(error.response.status)) {
        this.error = true
        this.mensaje = error.response.data ? error.response.data.mensaje : 'Ocurrio un error al realizar su peticion.'
      }
      return Promise.reject(error)
    })

    axios.interceptors.request.use((request) => {
      const token = localStorage.getItem('token')
      if (token) {
        request.headers.Authorization = `Bearer ${token}`
      }
      return request
    })
  },
  methods: {
    async ingresar() {
      this.error = false
      //console.log(this.usuario, this.contrasena)
      
      let init = {
          url: `${this.urlBackend}/api/users/login`,
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          data: this.formLogin
        }
      try {
        const { data } = await axios(init)
        console.log(data);  
      } catch (error) {
        console.log(error)
        this.error = true
        this.error_mensaje = error
      }
      


    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
